/* static/styles.css */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.main-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    height: auto;
    flex: 1;
    margin-bottom: 150px;
    overflow-y: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    #editCartModal .modal-dialog {
        margin: 0 auto;
        max-width: 80%;
    }

    #cart {
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
    }

    h1, h2 {
        font-size: 1.5em;
    }

    select, input, button {
        font-size: 1em;
        padding: 8px;
    }
}

#booking-form {
    display: flex;
    flex-direction: column;
}

.home-row {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a6d4e9;
}

.text-container {
    margin-left: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.back-arrow {
    cursor: pointer;
    margin-right: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    cursor: pointer;
}

.form-column, #time-container {
    display: flex;
    flex-direction: column;
    height: 60px;
    cursor: pointer;
    margin-left: 20px;
    padding: 7px 15px 15px 15px;
    margin-bottom: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: height 0.5s ease-in-out;
}

#time-container {
    height: auto;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0;
}

.myCheckbox {
    margin-left: auto;
}

.form-row-text {
    display: flex;
    flex-direction: column;
}

.form-row-head {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.duration, .cart-time {
    margin-left: 4px;
    opacity: 50%;
}

.pos, .result-time {
    opacity: 50%;
}

#cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    width: 80%;
    font-size: 16px;
    min-height: 80px;
    z-index: 200;
    bottom: 30px;
    padding: 20px 15px 20px 15px;
    border-radius: 6px;
    box-shadow: 0 12px 48px #0613333d;
}

.nextMaster {
    margin-top: 10px;
    margin-left: auto;
}

.p-1 {
    cursor: pointer;
}  

.border-secondary {
    background-color: #a6d4e9;
}

#example {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-form {
    margin-bottom: 10px;
}

.radio {
    margin-left: auto;
    transform: scale(1.5);
    cursor: pointer;
}

.form-tooltip {
    font-size: 12px;
}

#cart-container {
    margin-bottom: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.day-section {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.header-section {
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: auto;
    transform: rotate(180deg);
    transition: 300ms linear all;
}

.time-container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: rgb(234, 238, 244);
}

.time:hover {
    background-color: rgb(199, 202, 207);;
}

.time:active {
    background-color: #a6d4e9;
}

.closed-time {
    pointer-events:none;
    cursor: default;
    opacity: 30%;   
}

#result-container {
    display: flex;
    flex-direction: column;
}

.master-name {
    font-weight: bold;
}

.picked-time {
    background-color: #a6d4e9;
}