<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbershop</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/checkbox.css">
    <script src="../static/js/jquery.bs.calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../static/js/scripts.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="header">
            <div style="display: none;" class="svg-container back-arrow"><img src="../static/icons/back.svg"></div>
            <h2>BarberShop</h2>
        </div>
        <div id="home-form">
            <div id="picMaster" class="home-row">
                <div class="svg-container"><img src="../static/icons/masters.svg"></div>
                <span class="text-container">Выбрать мастера</span>
            </div>
            <div id="picService" class="home-row">
                <div class="svg-container"><img src="../static/icons/services.svg"></div>
                <span class="text-container">Выбрать услуги</span>
            </div>
            <div id="picDate" class="home-row">
                <div class="svg-container"><img src="../static/icons/calendar.svg"></div>
                <span class="text-container">Выбрать дату и время</span>
            </div>
        </div>
        <div id="masters-form" style="display: none;">
            <div>
                <h5 class="header-form">Выбрать специалиста</h5>
                <div id="masters-container" class="form-container">

                </div>
            </div>
        </div>
        <div id="services-form" style="display: none;">
            <div>
                <h5 class="header-form">Выбрать услуги</h5>
                <div id="services-container" class="form-container">

                </div>
            </div>
        </div>
        <div id="dates-form" style="display: none;">
            <div>
                <h5 class="header-form">Выбрать дату и время</h5>
                <div data-bs-toggle="calendar" id="example">
                </div>
                <div id="time-container">

                </div>
            </div>
        </div>
        <div id="result-form" style="display: none;">
            <div>
                <h5 class="header-form">Итого</h5>
                <div id="result-container">
                    <div class="form-row"><img style="margin-right: 7px;" src="../static/icons/avatar.svg">
                        <div style="display:flex;flex-direction:column;"><span class="master-name"></span><span
                                class="pos"></span></div>
                    </div>
                    <div class="form-row"><div class="svg-container"><img src="../static/icons/calendar.svg"></div>
                        <div style="display:flex;flex-direction:column; margin-left: 7px;"><span class="result-date"></span><span
                                class="result-time"></span></div>
                    </div>
                    <div id="result-services">
                        <div id="result-services-header">
                            <span><strong>Услуги</strong></span>
                            <span class="duration"></span>
                        </div>
                        <div id="result-services-container">

                        </div>
                    </div>
                    <div id="result-services-total">
                        <span>Итого</span>
                        <span id="totalPrice"></span>
                    </div>
                </div>
            </div>
            <form id="personal-form">
                <div class="personal-header"><h5>Ваши данные</h5></div>
                <div class="personal-form-row">
                    <label for="form-name">Имя *</label>
                    <input type="text" placeholder="Введите имя" id="form-name" required>
                </div>
                <div class="personal-form-row">
                    <label for="form-phone">Телефон *</label>
                    <input type="text" placeholder="+79226838883" id="form-phone" required>
                </div>
                <div class="personal-form-row">
                    <label for="form-comment">Комментарий</label>
                    <input type="text" placeholder="Комментарий к записи" id="form-comment">
                </div>
            </form>
        </div>
    </div>
    <div id="cart" style="display: none;">
        <div id="cart-container">

        </div>
        <button class="btn btn-success cartBtn"></button>
    </div>
    <!-- Модальное окно редактирования корзины услуг -->
    <div class="modal fade" id="editCartModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="modalHeader" style="width: 100%;">

                    </div>
                    <button type="button" id="closeBtnObjForm" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalCartContainer">

                    </div>
                    <button class="btn btn-success nextMaster">Выбрать специалиста</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>